<% provide(:title, @user.full_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.full_name %><br/>
        <%= link_to "Edit", edit_user_path(@user) %>
      </h1>
    </section>
  </aside>
</div>
